---
import Container from "../container.astro";
import Link from "../ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
  {
    title: "Ateliers de groupe",
    path: "#",
    children: [
      { title: "Formule", path: "/blog/atelier-de-groupe" },
      { title: "Écoles primaires", path: "/blog/ecoles-primaires" },
      { title: "Lycées", path: "/blog/formats-atelier-pour-les-ecoles-primaires" },
      { title: "Universités et grandes écoles", path: "/blog/universites-et-grandes-ecoles" },
      { title: "Comités d’entreprise", path: "/blog/comites-entreprise" },
      { title: "Maisons de retraite", path: "/blog/maisons-de-retraite" },
    ],
  },
  { title: "Cours individuels à domicile", path: "/blog/cours-individuel-a-domicile" },
  { title: "Cours de chinois", path: "/blog/cours-de-chinois" },
  { title: "Galerie", path: "/galerie" },
  {
    title: "Traductions",
    path: "#",
    children: [
      {
        title: "Lu Yin",
         path: "/blog/etude-de-vie-de-lu-yin-de-oeuvre" },
          { title: "Les influences littéraires étrangères…", path: "/blog/influences-litteraires-etrangeres-loeuvre-de-lu-yin" },
          { title: "Lu Yin dans le monde littéraire chinois…", path: "/blog/lu-yin-monde-litteraire-chinois-annees-1920-1930" },
 	  { title: "Père (nouvelle)", path: "/blog/pere-nouvelle" },
              { title: "Le 19 septembre", path: "/blog/le-19-septembre" },
              { title: "Le 20 septembre", path: "/blog/le-20-septembre" },
              { title: "Le 22 septembre", path: "/blog/le-22-septembre" },
              { title: "Le 28 septembre", path: "/blog/le-28-septembre" },
              { title: "Le 5 octobre", path: "/blog/le-5-octobre" },
              { title: "Le 6 octobre", path: "/blog/le-6-octobre" },
      {
        title: "Zeng Jixin",
         path: "/blog/zeng-jixin" },
          { title: "La guerre entre les rats et les hommes", path: "/blog/zeng-jixin-la-guerre-entre-les-rats-et-les-hommes-nouvelle" },
          { title: "L’instinct animal", path: "/blog/instinct-animal" },
    ],
  },
  {
    title: "Qui sommes-nous",
    path: "#",
    children: [
      { title: "Le calligraphe", path: "/blog/le-calligraphe" },
      { title: "La voie du pinceau", path: "/blog/shodo-voie-pinceau" },
      { title: "Calligraphie zen", path: "/blog/calligraphie-zen" },
    ],
  },
];
---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="text-lg">
          <span class="font-bold text-gray-800">Ateliers </span>
          <span class="text-gray-500">de calligraphie</span>
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )}

                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 items-center text-gray-700 hover:text-gray-900">
                      <span>{item.title}</span>
                      {item.badge && (
                        <span class="ml-1 px-2 py-0.5 text-[10px] animate-pulse font-semibold uppercase text-white bg-gray-600 rounded-full">
                          New
                        </span>
                      )}
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
      </MenuItems>
    </Astronav>
  </header>
</Container>
