---
import { Picture } from "astro:assets";
import heroImage from "@/assets/hero.webp";
import Link from "@/components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main
   class="flex flex-col lg:flex-row gap-8 mx-auto max-w-6xl mt-16">
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
Découvrez l’art de l’écriture chinoise
    </h1>
    <p  class="text-4xl lg:text-4xl font-bold text-gray-400">
    <strong>Calligraphie Lyon</strong> vous invite à explorer la pratique énergétique et raffinée de la calligraphie chinoise.
    </p>
</main>
