---
import { Picture } from "astro:assets";
import heroImage from "@/assets/hero.webp";
import Link from "@/components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main
   class="flex flex-col lg:flex-row gap-8 mx-auto max-w-6xl mt-16">
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
Découvrez l’art de l’écriture chinoise
    </h1>
    <p class="text-4xl lg:text-4xl font-bold text-gray-400">
    <strong>Calligraphie Lyon</strong> vous invite à explorer la pratique énergétique et raffinée de la calligraphie chinoise.
    </p>
    <div class="mt-8 flex flex-wrap gap-4">
      <a
        href="mailto:christophe.desmur@orange.fr"
        class="px-6 py-3 bg-gray-900 text-white font-semibold rounded hover:bg-gray-700 transition">
        Essayer un cours
      </a>
      <a
        href="tel:+33472078861"
        class="px-6 py-3 border-2 border-gray-900 text-gray-900 font-semibold rounded hover:bg-gray-100 transition">
        04 72 07 88 61
      </a>
    </div>
</main>
