---
import { Picture } from "astro:assets";
import heroImage from "@/assets/hero.webp";
import Link from "@/components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main
   class="flex flex-col lg:flex-row gap-8 mx-auto max-w-6xl mt-16">
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
    Calligraphie Lyon : pratiquez la calligraphie chinoise
    </h1>
    <p  class="text-4xl lg:text-4xl font-bold text-gray-400">
    <strong>Calligraphie Lyon</strong> vous accueille pour pratiquer l’art énergétique de l’écriture chinoise.
    </p>
</main>
